streamlit 
langchain-ollama
langchain-core
langchain
langchain-experimental
# langchain-google-genai
# google-generativeai
pyvis 
python-dotenv
python-docx
pypdf 
# openai
pandas
neo4j
nest-asyncio
Pillow>=10.0.0
setuptools
wheel


# For graph_rag.py (spaCy version)
spacy>=3.7.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl

# For reviews_retrival_gemini.py
requests>=2.31.0
